.article-page {
  .master-footer--top-side {
    display: none;
  }
}

.article-wrap {
  @include border-radius( 2px );

  height: 205px;
  border: 1px solid $theme-color-gray-light;
  padding: 10px;
  margin-bottom: 20px;

  .article-image {
    width: 100%;
    margin-bottom: 10px;
  }

  .article-category {
    color: $theme-color-gray-light;
    text-transform: uppercase;
  }

  .article-title {
    font-weight: 400;
    font-size: 16px;
  }
}

.article-content {
  .section-wrap {
    margin-left: 20px;
  }

  &--sub-nav {
    position: relative;
    border-bottom: 1px solid $theme-color-main;
    margin-bottom: 20px;

    .heading {
      display: inline-block;
      background-color: $theme-color-main;
      margin: 0;
      padding: 6px 18px;
      text-transform: uppercase;
      color: white;
      font-size: 14px;
      font-weight: 300;
    }

    .list-unstyled {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;

      li {
        float: left;
        padding: 6px 10px;
        line-height: 1.1;
        text-transform: uppercase;

        &.active {
          background-color: $theme-color-sub;
          color: white;
        }

        a {
          color: $theme-color-gray;

          &:hover {
            color: $theme-color-main;
            text-decoration: none;
          }
        }
      }
    }
  }

  &--slider {
    .slider-wrap {
      height: 340px;
    }

    .slider {
      .slick-arrow {
        color: white;
      }
    }
  }

  &--featured-article {
    margin-left: -15px;

    .article-wrap {
      @include border-radius( 0 );

      position: relative;
      display: block;
      height: 106.667px;
      border: 0;
      padding: 0;
      margin-bottom: 10px;
      overflow: hidden;

      .article-image {
        width: 100%;
        margin-bottom: 0;
      }

      .article-category {
        position: absolute;
        bottom: 25px;
        left: 5px;
        height: 15px;
        padding: 0 5px;
        margin: 0;
        background-color: $theme-color-sub;
        line-height: 15px;
        color: $theme-color-gray-light;
        text-transform: uppercase;
        font-size: 10px;
        color: white;
        overflow: hidden;
      }

      .article-title {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0 10px;
        width: 100%;
        height: 25px;
        background-color: rgba( $theme-color-main, 0.6 );;
        font-weight: 300;
        font-size: 10px;
        line-height: 25px;
        color: white;
        overflow: hidden;
      }

    }
  }

  &--latest-news {
    & > .row {
      margin: 0 10px;
    }

    .col-item {
      padding: 0 10px;
    }

    .more-button {
      @include transition( 0.2s );

      display: inline-block;
      margin-top: 60px;
      font-size: 16px;
      padding: 5px 80px;
      border: 1px solid $theme-color-main;
      font-weight: 400;

      &:hover,
      &:focus {
        color: $theme-color-main;
        background-color: rgba( $theme-color-main, 0.2 );
        text-decoration: none;
      }
    }
  }

  &--main-article {
    padding: 50px;

    .article-category {
      margin: 0;
      margin-bottom: 10px;
      color: $theme-color-gray;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 16px;
    }

    .article-title {
      margin: 0;
      margin-bottom: 20px;
      color: $theme-color-main;
      font-weight: 300;
      font-size: 34px;
    }

    .article-image {
      margin-bottom: 40px;
      width: 100%;
    }

    .article-content {
      font-weight: 400;

      p {
        line-height: 1.75;
      }

      h3 {
        margin: 0;
        margin-top: 20px;
        color: $theme-color-main;
        font-weight: 300;
      }
    }
  }
}
