.error-wrap {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  color: $theme-color-gray;
  font-weight: 300;

  .error-inner {
    position: relative;
    top: 50%;
    margin-top: -151.5px;

    & > span {
      font-size: 24px;
      text-transform: uppercase;
    }

    .error-code {
      margin: 10px 0;
      color: $theme-color-main;
      font-size: 140px;
      font-weight: 300;
    }

    & > p {
      font-size: 18px;

      & > span {
        display: inline-block;
        margin-top: 10px;
        font-size: 14px;
      }
    }
  }


}
