.master-footer {
  color: white;

  &--top-side {
    position: relative;
    background-color: $theme-color-sub;
    padding: 120px 0;

    .inner {
      position: relative;
      padding-left: 300px;
    }
  }

  &--footer-logo {
    position: absolute;
    top: calc( 50% - 9px );
    left: 0;
  }

  &--bottom-side {
    padding: 10px 0 55px;
    background-color: $theme-color-main;

    .inner {
      h4 {
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
      }

      ul {
        margin: 0;

        li a {
          color: white;
          font-size: 12px;
        }
      }
    }
  }

  &--footer-nav {
    margin-bottom: 40px;

    ul {
      margin: 0;
      padding: 0;

      li {
        float: left;
        position: relative;
        padding: 0 20px;
        text-transform: uppercase;
        font-size: 12px;

        &:before {
          content: '|';
          position: absolute;
          right: 0;
        }

        &:first-child {
          padding-left: 0;
        }

        &:last-child:before {
          display: none;
        }

        a {
          color: white;
        }
      }
    }
  }

  &--footer-newsletter {
    h4 {
      font-size: 14px !important;
      margin-bottom: 10px !important;
    }

    input {
      width: 70%;
    }
  }

  &--copyright {
    background-color: $theme-color-main;
    border-top: 2px solid rgba( 255, 255, 255, 0.8 );
    padding: 40px 0 20px;
    font-size: 12px;
  }
}
