.master-header {
  margin-bottom: 40px;

  &--top-bar {
    height: 30px;
    background-color: $theme-color-sub;
  }

  &--mid-bar {
    position: relative;
    height: 120px;

    .row {
      height: 100%;
    }

    .right-column {
      position: relative;
      height: 100%;
    }
  }

  &--logo {
    display: inline-block;
    margin-top: 49px;
  }

  &--search-form {
    margin-top: 43px;

    .input-group {
      width: 430px;
      margin: 0 auto;
    }
  }

  &--user-sign {
    float: right;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-size: 12px;

    li {
      float: left;
      margin-left: 5px;
      color: $theme-color-gray;

      a {
        color: $theme-color-gray;
      }
    }
  }

  &--links {
    position: absolute;
    bottom: 10px;
    right: 15px;
    margin: 0;
    padding: 0;

    li {
      float: left;
      margin-left: 30px;
      line-height: 26px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 300;

      i.fa {
        @include border-radius( 50% );

        display: inline-block;
        width: 26px;
        height: 26px;
        margin-right: 5px;
        background: $theme-color-main;
        color: white;
        line-height: 26px;
        text-align: center;
      }

      a {

      }
    }
  }

  &--main-nav {
    background-color: $theme-color-main;

    ul {
      margin: 0;
      padding: 0;

      li {
        float: left;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 12px;

        a {
          @include transition( 0.2s );

          display: inline-block;
          height: 40px;
          padding: 0 20px;
          color: white;
          line-height: 40px;

          &.active,
          &:hover,
          &:focus {
            background-color: $theme-color-sub;
            text-decoration: none;
          }
        }
      }
    }
  }
}
