.home-content {
  &--slider {
    header {
      padding-bottom: 5px;
      margin-bottom: 20px;
      border-bottom: 1px solid $theme-color-main;
      overflow: auto;

      .main-date {
        float: left;
        color: $theme-color-main;
      }

      .greet {
        float: right;
        color: $theme-color-main;
        font-size: 16px;
      }
    }
  }

  &--latest-news {
    & > .row {
      margin: 0 -10px;
    }

    .article-wrap {
      margin-bottom: 0;
    }

    .col-item {
      padding: 0 10px;
    }
  }

  &--most-viewed {
    & > .row {
        margin: 0;
    }

    .most-viewed {
      position: relative;
      padding: 0;
      padding-left: 80px;
      height: 70px;
      border: 0;
      border-bottom: 1px solid $theme-color-gray-light;
      margin-bottom: 10px;

      .article-image {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
      }

      .list-unstyled {
        position: relative;
        top: -3px;
        margin: 0;
      }

      .article-category {
        text-transform: uppercase;
        color: $theme-color-gray-light;
        font-size: 12px;
      }

      .article-title {
        font-weight: 400;
        font-size: 14px;
      }
    }

    .col:last-child,
    .col:nth-last-child(2) {
      .most-viewed {
        border-bottom: 0;
      }
    }
  }

  &--ads-space {
    margin-bottom: -25px;

    img {
      width: 100%;
    }
  }

  &--video-section {
    & > .row {
        margin: 0 5px;
    }

    .video-wrap {
      @include border-radius( 2px );

      height: 185px;
      border: 1px solid $theme-color-gray-light;
      padding: 10px;

      .middle-wrap {
        position: relative;
        display: block;
      }

      .video-image {
        width: 100%;
      }

      .video-title {
        color: $theme-color-main;
        font-size: 14px;
        font-weight: 400;
      }

      .video-icon {
        @include border-radius( 10px );

        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -20px;
        margin-left: -30px;
        background-color: $theme-color-sub;
        width: 60px;
        height: 40px;
        opacity: 0.4;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -4px;
          margin-top: -8px;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
          border-left: 12px solid white;
        }
      }
    }

    .col-item {
      padding: 0 10px;
    }
  }

  &--product-section {
    .product-wrap {
      margin-bottom: 40px;

      .product-category {
        margin: 0 0 10px;
        padding: 6px 18px;
        background-color: $theme-color-sub;
        text-transform: uppercase;
        color: white;
        font-weight: 300;
        font-size: 12px;
      }

      .middle-wrap {
        position: relative;
        height: 185px;
        line-height: 185px;
        text-align: center;

        img {
          display: inline-block;
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: calc( 100% - 10px );
        }

        .product-discount {
          @include border-radius( 50% );

          position: absolute;
          top: 10px;
          right: 10px;
          width: 65px;
          height: 65px;
          background-color: $theme-color-danger;
          color: white;
          line-height: 55px;
          font-size: 20px;

          &:after {
            content: 'discount';
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            margin-top: 15px;
            text-align: center;
            font-size: 10px;
          }
        }
      }

      .bottom-wrap {
        overflow: auto;

        .product-title {
          display: table;
          width: 100%;
          height: 40px;
          font-size: 12px;
          text-transform: uppercase;
          color: $theme-color-sub;
          padding: 0 5px;
          padding-bottom: 5px;
          border-bottom: 1px solid $theme-color-sub;
          margin-bottom: 10px;

          span {
            display: table-cell;
            vertical-align: middle;
          }
        }

        .product-price {
          float: left;
          color: $theme-color-gray;
        }

        .list-unstyled {
          float: right;

          li {
            float: left;
            font-size: 10px;
            margin-left: 3px;

            a {
              @include transition( 0.2s );
              display: inline-block;
              padding: 3px 6px;
              color: white;
              text-transform: uppercase;

              &.product-detail {
                background-color: lighten( $theme-color-sub, 15% );
              }

              &.product-buy {
                background-color: $theme-color-main;
              }

              &:hover,
              &:focus {
                text-decoration: none;

                &.product-detail {
                  background-color: lighten( $theme-color-sub, 10% );
                }

                &.product-buy {
                  background-color: darken( $theme-color-main, 6% );
                }
              }
            }
          }
        }
      }
    }
  }

  &--footer-banner {
    margin-bottom: 20px;

    img {
      width: 100%;
    }
  }
}
