@mixin transition( $v ) {
  -webkit-transition: $v;
     -moz-transition: $v;
       -o-transition: $v;
          transition: $v;
}

@mixin border-radius( $v ) {
  -webkit-border-radius: $v;
     -moz-border-radius: $v;
          border-radius: $v;
}

@mixin box-shadow( $v ) {
  -webkit-box-shadow: $v;
     -moz-box-shadow: $v;
          box-shadow: $v;
}

@mixin transform( $v ) {
  -webkit-transform: $v;
     -moz-transform: $v;
      -ms-transform: $v;
       -o-transform: $v;
          transform: $v;
}

@mixin animation( $v ) {
  -webkit-animation: $v;
     -moz-animation: $v;
          animation: $v;
}
