.news-section {
  .padding-mod {
    margin: 0 -10px;

    [class^='col-'] {
      padding: 0 10px;
    }
  }
}

.news-wrap {
  margin-bottom: 20px;

  .news-image {
    position: relative;

    img {
      width: 100%;
    }

    .news-author-avatar {
      @include border-radius( 50% );

      position: absolute;
      left: 20px;
      bottom: 20px;
      width: 50px;
      height: 50px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }

  .news-inner {
    background: white;
    padding: 20px;

    .news-meta-category {
      margin-bottom: 20px;
      color: $theme-color-gray;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 12px;

      a {
        @include transition( 0.2s );

        color: $theme-color-gray;

        &:hover {
          color: $theme-color-main;
          text-decoration: none;
        }
      }
    }

    .news-title {
      margin: 0;
      margin-bottom: 10px;
      font-size: 18px;

      a {
        color: inherit;

        &:hover {
          color: $theme-color-main;
          text-decoration: none;
        }
      }
    }

    .news-metas {
      margin-bottom: 20px;
      font-weight: 300;
      color: $theme-color-gray;

      li {
        position: relative;
        padding-left: 20px;

        span.typcn {
          position: absolute;
          top: -3px;
          left: 0;
          font-size: 18px;
        }

        a {
          color: $theme-color-gray;
        }
      }
    }

    .news-content {
      margin-bottom: 20px;

      img {
        max-width: 100%;
      }
    }

    .news-link {
      @include transition( 0.2s );

      text-transform: uppercase;
      font-size: 16px;
      color: $theme-color-gray;

      span.typcn {
        position: relative;
        top: -1px;
      }

      &:hover {
        color: $theme-color-main;
        text-decoration: none;
      }
    }
  }

  &.news-detail {
    .news-inner .news-title {
      font-size: 24px;
    }

    .news-inner .news-action {
      margin-top: 20px;
      overflow: auto;
      color: $theme-color-gray;
      font-size: 16px;
      font-weight: 300;

      .action-interest {
        .action-favourite a,
        .action-share a {
          color: $theme-color-gray;

          &:focus,
          &:hover {
            color: $theme-color-main;
            text-decoration: none;
          }
        }

        .action-favourite.loved {
          span.typcn {
            color: $theme-color-love;
          }
        }

        .action-share.shared {
          span.typcn {
            color: $theme-color-facebook;
          }
        }
      }

      .action-nav {
        .newer-article a,
        .older-article a {
          color: $theme-color-gray;

          &:focus,
          &:hover {
            color: $theme-color-main;
            text-decoration: none;
          }
        }
      }
    }

    .news-comment {
      border-top: 1px solid $theme-color-gray-light;
      background: white;
      padding: 20px;

      .comment-count {
        margin: 0;
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 18px;
        text-transform: uppercase;
      }

      & > ul > li:last-child .comment-wrap {
        margin-bottom: 0;
      }

      .comment-wrap {
        margin-bottom: 20px;

        .comment-header {
          position: relative;
          padding-left: 70px;
          height: 60px;
          margin-bottom: 10px;

          .author-avatar {
            @include border-radius( 50% );

            position: absolute;
            top: 50%;
            left: 0;
            width: 60px;
            height: 60px;
            margin-top: -30px;
            overflow: hidden;

            img {
              width: 100%;
            }
          }

          .comment-meta {
            padding-top: 9px;

            &-author {
              display: block;
              font-weight: 700;
              font-size: 16px;
            }

            &-date {
              display: block;
              font-weight: 300;
              color: $theme-color-gray;
            }
          }
        }
      }
    }

    .news-post-comment {
      border-top: 1px solid $theme-color-gray-light;
      background: white;
      padding: 20px;

      .post-comment-title {
        margin: 0;
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 18px;
        text-transform: uppercase;
      }
    }
  }
}
