.search-page {
  .search-bar-section {
    .search-bar-form {
      .form-group {
        margin: 0;
        margin-right: -15px;
      }

      .btn-search {
        background: $theme-color-sub;
        text-transform: uppercase;

        &:hover {
          background: $theme-color-sub-hover;
        }

        &:focus {
          background: darken( $theme-color-sub-hover, 2% );
        }
      }
    }
  }

  .search-result-section {
    .result-wrap {
      position: relative;
      background: white;
      margin-bottom: 60px;

      .result-notice {
        display: block;
        padding: 10px 20px;
        border-bottom: 1px solid $theme-color-gray-light;
        font-size: 16px;
        font-weight: 300;

        &.no-result {
          border: 0;
        }
      }

      .result-list > li {
        display: none;
        border-bottom: 1px solid $theme-color-gray-light;

        &:nth-child(-n+3) {
          display: block;
        }

        &:nth-child(3) {
          border: 0;
        }

        &:last-child {
          border: 0;
        }
      }

      .result-list.all-result > li {
        display: block;

        &:nth-child(3) {
          border-bottom: 1px solid $theme-color-gray-light;
        }
      }

      .result-item {
        padding: 10px 20px;

        h4 {
          margin: 0;
          margin-bottom: 10px;
          font-size: 18px;
        }

        ul {
          margin-bottom: 20px;
          font-weight: 300;
          color: $theme-color-gray;

          li {
            position: relative;
            padding-left: 20px;

            span.typcn {
              position: absolute;
              top: -3px;
              left: 0;
              font-size: 18px;
            }

            a {
              color: $theme-color-gray;
            }
          }
        }
      }

      .result-pagination {
        display: inline-block;
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: 10px;
        color: $theme-color-gray;
        font-weight: 300;

        li.active {
          color: $theme-color-main;
          font-weight: bold;
        }

        a {
          color: $theme-color-gray;

          &:hover,
          &:focus {
            color: $theme-color-main;
            text-decoration: none;
            font-weight: bold;
          }
        }
      }

      .view-more {
        @include transition( 0.2s );

        display: inline-block;
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: 10px;
        padding-right: 20px;
        color: $theme-color-gray;
        font-weight: 300;

        span.typcn {
          position: absolute;
          top: 1px;
          right: 0;
          font-size: 13px;
        }

        &:hover,
        &:focus {
          color: $theme-color-main;
          text-decoration: none;
        }
      }
    }
  }
}
