section[class^="sidebar-content--"] {
  margin: 0 20px 20px 20px;

  h3 {
    margin: 0;
    padding: 10px 0;
    background-color: $theme-color-main;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: white;
  }
}

.sidebar-content {
  &--prayer {
    .prayer-search {
      margin: 10px 0;

      .form-group {
        overflow: auto;

        label {
          float: left;
          font-weight: 300;
          font-size: 12px;
          line-height: 24px;
        }

        .form-control {
          @include border-radius( 2px );

          float: right;
          width: 60%;
          height: 22px;
          font-size: 12px;
          border-color: $theme-color-gray-light;
          line-height: 24px;
        }
      }
    }

    .prayer-date {
      background-color: rgba( $theme-color-main, 0.4 );
      padding: 5px 20px;
      font-size: 12px;
      color: white;
    }

    .prayer-list {
      margin: 0;

      li {
        position: relative;
        margin: 5px 0;
        padding: 5px 10px;
        background-color: rgba( lighten( $theme-color-main, 50% ), 0.6 );
        font-size: 12px;

        span {
          display: inline-block;
          position: absolute;
          right: 5px;
        }
      }
    }
  }

  &--doa {
    .doa-title {
      font-weight: bold;
      font-size: 12px;
      margin: 0 0 20px;
      text-transform: uppercase;
    }

    .doa-content {
      padding: 20px;
      text-align: center;
      color: $theme-color-main;
      font-weight: 400;
      font-size: 12px;

      background: lighten( $theme-color-sub, 45% );
      background: -moz-linear-gradient(-45deg, lighten( $theme-color-sub, 25% ) 0%, lighten( $theme-color-sub, 45% ) 50%, lighten( $theme-color-sub, 25% ) 100%);
      background: -webkit-linear-gradient(-45deg, lighten( $theme-color-sub, 25% ) 0%, lighten( $theme-color-sub, 45% ) 50%, lighten( $theme-color-sub, 25% ) 100%);
      background: linear-gradient(135deg, lighten( $theme-color-sub, 25% ) 0%, lighten( $theme-color-sub, 45% ) 50%,lighten( $theme-color-sub, 25% ) 100%);
    }
  }

  &--hadist {
    .hadist-content {
      padding: 20px 30px;
      text-align: center;
      color: $theme-color-main;
      font-weight: 400;
      font-size: 12px;

      background: lighten( $theme-color-sub, 45% );
      background: -moz-linear-gradient(-45deg, lighten( $theme-color-sub, 25% ) 0%, lighten( $theme-color-sub, 45% ) 50%, lighten( $theme-color-sub, 25% ) 100%);
      background: -webkit-linear-gradient(-45deg, lighten( $theme-color-sub, 25% ) 0%, lighten( $theme-color-sub, 45% ) 50%, lighten( $theme-color-sub, 25% ) 100%);
      background: linear-gradient(135deg, lighten( $theme-color-sub, 25% ) 0%, lighten( $theme-color-sub, 45% ) 50%,lighten( $theme-color-sub, 25% ) 100%);
    }
  }

  &--other-articles {
    margin-left: -15px !important;
    margin-right: -15px !important;

    h3 {
      margin: 0;
      margin-bottom: 20px !important;
      padding: 5px 80px;
      background-color: transparent !important;
      border: 1px solid $theme-color-main;
      font-size: 16px !important;
      font-weight: 400 !important;
      text-transform: uppercase;
      text-align: center;
      color: $theme-color-main !important;
    }

    .article-wrap {
      position: relative;
      padding: 0;
      padding-left: 85px;
      height: 85px;
      border: 0;
      border-bottom: 1px solid $theme-color-gray-light;
      margin-bottom: 10px;

      .article-image {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
      }

      .list-unstyled {
        position: relative;
        top: -3px;
        margin: 0;
      }

      .article-category {
        text-transform: uppercase;
        color: $theme-color-gray-light;
        font-size: 12px;
      }

      .article-title {
        font-weight: 400;
        font-size: 16px;
      }

      &:last-child {
        border: 0;
      }
    }
  }

  &--ads-space {
    margin: 0 -15px 20px !important;

    img {
      width: 100%;
    }
  }
}
