.sign-section {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;

  .sign-header {
    padding: 40px 0;

    h2 {
      margin: 0;
      margin-bottom: 20px;
      font-size: 26px;
      font-weight: 300;
      text-transform: uppercase;
      font-style: italic;
      text-align: center;
    }
  }

  .sign-wrap {
    padding: 20px 15px;
    background: white;
    margin-bottom: 20px;

    h3 {
      margin: 0;
      margin-bottom: 10px;
      font-size: 18px;
    }
  }

  .sign-up h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .sign-up-form {
    margin: 0 -15px;

    .form-group {
      margin-right: 15px;
      margin-left: 15px;
    }

    .text-right,
    .text-center,
    .text-left {
      margin: 40px 15px 0 15px;
    }

    hr {
      border-color: $theme-color-gray-light;
      margin: 40px 0;
    }

    p {
      margin: 0 15px 20px 15px;
    }

    .address-map {
      height: 300px;
      border: 1px solid $theme-color-gray-light;
      margin: 0 15px 15px 15px;
    }

    .result-details {
      .row {
        margin: 0 -7.5px;
      }

      [class^="col-"] {
        padding: 0 7.5px;
      }
    }
  }
}
