body.landing-page {
  height: 100%;
  overflow: hidden;

  .wrapper {
    height: 100%;
  }
}

.main-slider {
  height: 100%;

  .unslider {
    height: 100%;

    .unslider-nav {
      position: absolute;
      top: 50%;
      left: 30px;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        @include border-radius( 50% );
        @include transition( 0.2s );

        display: block;
        width: 20px;
        height: 20px;
        background: white;
        margin-bottom: 10px;
        opacity: 0.4;
        cursor: pointer;
        color: transparent;

        &:hover {
          opacity: 0.6;
        }

        &:last-child {
          margin: 0;
        }

        &.unslider-active {
          opacity: 0.8;
        }

        button {
          display: none;
        }
      }
    }
  }

  .slider {
    @include transition( opacity 0.4s );

    height: 100%;
    opacity: 0;

    .slick-list,
    .slick-track {
      height: 100%;
    }

    .slick-slide {
      outline: none !important;
    }

    .slider-item {
      position: relative;
      height: 100%;

      .slider-caption {
        position: absolute;
        top: 0;
        right: 0;
        width: 350px;
        height: 100%;
        padding: 45px 30px;
        background: rgba( black, 0.6 );
        color: white;

        .caption-title {
          margin: 0;
          margin-bottom: 20px;
          font-size: 45px;
          font-weight: bold;
        }

        .caption-content {
          font-size: 16px;
        }

        .link-home {
          @include transition( 0.2s );

          position: absolute;
          bottom: 45px;
          right: 30px;
          width: 290px;
          border: 1px solid white;
          padding: 10px;
          color: white;
          text-align: center;

          &:hover,
          &:focus {
            background-color: rgba( $theme-color-main, 0.6 );
            text-decoration: none;
          }
        }
      }
    }
  }

  .slider-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 25px 45px;
    background: rgba( black, 0.6 );

    .slider-caption {
      display: none;
      margin: -25px 0;
      color: white;
      text-align: center;

      &.active {
        display: block;
      }

      .caption-title {
        margin: 13px 0 5px;
        font-size: 35px;
        font-weight: bold;
      }

      .caption-content {
        font-size: 16px;
      }
    }

    .link-home {
      @include transition( 0.2s );

      display: inline-block;
      height: 42px;
      line-height: 42px;
      font-size: 28px;
      color: white;
      opacity: 0.4;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .slider-play,
  .slider-pause {
    @include transition( 0.2s );

    display: inline-block;
    height: 42px;
    line-height: 42px;
    font-size: 28px;
    color: white;
    opacity: 0.4;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &.on {
      opacity: 0.8;
      cursor: default !important;
    }
  }

  .slider-play {
    left: 70px;
  }

  .slider-pause {
    left: 30px;
  }
}
