.user-info {
  position: relative;
  background: white;
  padding: 20px 15px;
  margin-bottom: 20px;

  #user-info-avatar {
    cursor: pointer;
  }

  .user-info-avatar {
    @include border-radius( 50% );

    position: absolute;
    top: 20px;
    left: 60px;
    display: inline-block;
    width: 150px;
    height: 150px;
    background: white;
    border: 6px solid white;
    overflow: hidden;

    img {
      width: 100%;
    }

    .mask {
      @include border-radius( 50% );
      @include transition( 0.2s );

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0 20px;
      padding-top: 10px;
      background: rgba( $theme-color-main, 0.6 );
      color: white;
      text-align: center;
      font-weight: 300;
      opacity: 0;

      span.typcn {
        font-size: 48px;
      }
    }

    &:hover,
    &:focus {
      .mask {
        opacity: 1;
      }
    }

    .preloader-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba( $theme-color-main, 0.6 );

      .preloader,
      .preloader:before,
      .preloader:after {
        background: rgba( white, 0.8 );
      }
    }
  }

  .user-info-inner {
    padding-left: 240px;
    height: 120px;

    .user-info-name {
      margin: 0;
      margin-bottom: 20px;
      padding-top: 30px;
      font-size: 24px;

      small {
        color: $theme-color-gray;
        font-weight: 300;
        font-style: italic;

        span {
          display: inline-block;
          margin: 0 5px;
          color: $font-color-main;
          font-style: normal;
        }
      }
    }

    .user-info-school {
      font-size: 16px;
      font-style: italic;
      font-weight: 300;
      color: $theme-color-gray;
    }
  }

  .user-info-activity {
    background: $theme-color-main;
    color: white;
    margin: 0 -15px -20px -15px;
    padding: 15px 20px;
    padding-left: 255px;

    li {
      padding: 0 10px;

      &:first-child {
        padding-left: 0;
      }
    }

    span.typcn {
      font-size: 18px;
    }
  }

  .btn-sign-out {
    position: absolute;
    right: 45px;
    top: 64px;
  }
}

.user-wrap {
  background: white;
  padding: 20px 15px;
  margin-bottom: 20px;
  overflow: auto;
}

.user-detail {
  background: white;
  padding: 20px 15px;
  margin-bottom: 20px;

  .nav-tabs {
    border-bottom: 0;
    margin-bottom: 20px;

    & > li {
      padding: 0 3px;

      &.active > a {
        border-color: $theme-color-main;
        color: inherit;
      }

      & > a {
        position: relative;
        padding: 6px 12px;
        border: 0;
        border-bottom: 2px solid $theme-color-gray-light;
        color: $theme-color-gray;
        font-size: 16px;
        font-weight: 300;

        &:hover,
        &:focus {
          border: 0;
          border-bottom: 2px solid;
          border-color: $theme-color-main;
          background: transparent;
          color: inherit;
        }

        span.user-detail-notif {
          @include border-radius( 50% );

          position: absolute;
          top: -5px;
          right: -5px;
          display: inline-block;
          width: 20px;
          height: 20px;
          background: $theme-color-sub;
          border: 2px solid white;
          line-height: 16px;
          font-size: 12px;
          text-align: center;
          color: $font-color-main;
        }
      }

      &:first-child {
        padding-left: 0;
      }
    }
  }

  .user-detail-wrap {
    // height: 380px;

    &.detail-tab-notif {
      .user-detail-list {
        margin: 20px;
        padding-left: 10px;
      }
    }

    &.detail-tab-setting {
      .user-detail-list {
        padding: 10px 0;

        &:first-child {
          padding-top: 0;
        }
      }
    }
  }

  .user-detail-list {
    position: relative;

    h4 {
      position: relative;
      margin: 20px 0 10px;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
    }

    &.has-notif {
      &:after {
        @include border-radius( 50% );

        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        display: inline-block;
        width: 20px;
        height: 20px;
        background: $theme-color-sub;
        border: 2px solid white;
        line-height: 16px;
        font-size: 12px;
        text-align: center;
        color: $font-color-main;
      }
    }

    &.no-notif {
      margin: 0 !important;
      padding: 0 !important;
    }

    &.detail-verify-member {
      position: relative;
      padding-left: 50px !important;

      .user-avatar {
        @include border-radius( 50% );

        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 40px;
        height: 40px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      p {
        line-height: 40px;
        margin: 0;
      }
    }
  }
}

.user-verify {
  position: relative;

  .notice {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -35px;
  }

  h4 {
    margin: 0;
    font-size: 16px;
  }

  hr {
    margin: 20px -15px;
  }

  .user-list {
    margin: 0;
    overflow: auto;

    & > li {
      float: left;
      width: 20%;
      padding: 0;

      .user-wrap {
        position: relative;
        text-align: center;
        height: 125px;
        margin: 0;
        padding: 20px 5px 5px;
        cursor: pointer;
        overflow: hidden;

        .user-avatar {
          @include border-radius( 50% );

          display: inline-block;
          width: 64px;
          height: 64px;
          border: 4px solid transparent;
          overflow: hidden;

          img {
            width: 100%;
          }
        }

        .user-name {
          margin: 0;
        }

        &.selected {
          cursor: default;

          &:before {
            @include border-radius( 50% );

            content: '\e11e';
            font-family: 'typicons';
            position: absolute;
            top: 25px;
            right: 20px;
            display: inline-block;
            width: 20px;
            height: 20px;
            background: $theme-color-success;
            color: white;
            line-height: 20px;
            text-align: center;
          }

          .user-avatar {
            border-color: $theme-color-success;
          }
        }
      }
    }

    &.user-list-selected {
      position: absolute;
      top: 20px;
      left: 15px;
      z-index: 2;
      height: auto;
      width: calc( 100% - 30px );
      margin-bottom: 10px;
      overflow: hidden;

      & > li {
        float: left;
        width: 20%;

        .user-wrap {

          &.selected {
            cursor: pointer;

            .user-avatar {
              border-color: transparent;
            }

            &:before {
              content: '\e122';
              opacity: 0;
            }

            &:hover {
              &:before {
                background: $theme-color-danger;
                opacity: 1;
              }

              .user-avatar {
                border-color: $theme-color-danger;
              }
            }
          }
        }
      }
    }

    &.user-list-placeholder {
      height: auto;
      margin-bottom: 10px;
      overflow: hidden;

      & > li {
        float: left;
        width: 20%;
      }

      .user-wrap {
        opacity: 0.6;
        cursor: default;
      }
    }
  }
}

.user-verify-notice {
  h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
  }

  p {
    margin-bottom: 0;
  }

  ul.list-inline {
    margin-top: -5px;
  }
}

.btn-profile-edit {
  @include border-radius( 50% );
  @include transition( 0.2s );

  position: absolute;
  top: 50%;
  right: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  background: $theme-color-sub;
  text-align: center;
  line-height: 30px;
  color: inherit;

  &:hover,
  &:focus {
    background: $theme-color-sub-hover;
    color: inherit;
  }

  &.open {
    opacity: 0.6;
    cursor: default;
  }
}

#profile-edit-wrap {
  display: none;
}

.profile-list {
  margin: 0;
  padding-right: 40px;

  li {
    margin-bottom: 20px;
    overflow: auto;

    .profile-label {
      position: relative;
      display: inline-block;
      width: 130px;

      &:after {
        content: ':';
        position: absolute;
        right: 20px;
      }
    }

    address,
    span {
      float: left;
      display: block;
    }

    .profile-address {
      width: calc( 100% - 130px );
      min-height: 40px;
    }

    .profile-first-name:after {
      content: ' ';
      white-space: pre;
    }
  }
}

.profile-form {
  .row {
    margin: 0 -7.5px;

    [class^="col-"] {
      padding: 0 7.5px;
    }
  }

  .form-group {
    label {
      margin: 0;
      font-style: italic;
      font-weight: 300;
    }

    textarea {
      height: 82px;
    }
  }
}
