// Font Family
$font-family-main: 'Open Sans', sans-serif;
$font-family-sub: 'Arimo', sans-serif;

// Theme Color
$theme-color-main: #917908;                                 // Olive
$theme-color-sub: #af9931;                                  // Soft Olive
$theme-color-sub-hover: #EFBF01;                            // Yellow Red
$theme-color-gray: #A3A3A3;                                 // Gray
$theme-color-gray-light: lighten( $theme-color-gray, 15% ); // Light Gray

$theme-color-danger: #cf3333;                               // Red
$theme-color-success: #2FA737;                              // Green
$theme-color-info: lighten( $theme-color-main, 20% );                       // Blue

$theme-color-facebook: #3B5998;                             // Dark Blue
$theme-color-love: #D14D6B;                                 // Red Pink

$font-color-main: #333333;                                  // Black
