.alert {
  @include border-radius( 0 );

  position: relative;
  border: 0;
  font-weight: 300;

  .alert-heading {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  .alert-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: rgba( black, 0.1 );
    text-shadow: none;
    color: rgba( black, 0.4 );
    font-size: 16px;
    font-weight: 300;
    opacity: 1;

    &:hover,
    &:focus {
      background: rgba( black, 0.15 );
    }
  }

  a {
    color: rgba( $theme-color-sub, 0.8 );
    font-style: italic;
    font-weight: 700;

    &:hover,
    &:focus {
      color: $theme-color-sub;
      text-decoration: underline;
      font-weight: 700;
    }
  }
}

.alert-danger {
  background-color: $theme-color-danger;
  color: white;
}

.alert-success {
  background-color: $theme-color-success;
  color: white;
}

.alert-info {
  background-color: $theme-color-info;
  color: white;
}

#alert-respon {
  .alert-close {
    display: none;
  }

  &.alert-danger .alert-close {
    display: inline-block;
  }
}
