.breadcrumb {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  background: transparent;
  list-style: none;
  overflow: auto;

  li {
    position: relative;
    float: left;
    padding: 0 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;

    &:before {
      display: none;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: -4px;
      width: 0;
      height: 0;
      margin-top: -5px;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 8px solid $theme-color-gray-light;
    }

    &:first-child:after {
      display: none;
    }

    &.active {
      color: $theme-color-main;

      &:before {
        display: none;
      }

      &:after {
        border-left-color: $theme-color-main;
      }
    }

    a {
      color: $theme-color-gray;

      &:hover,
      &:active {
        color: $theme-color-main;
      }
    }
  }
}
