.btn {
  @include border-radius( 0 );
  @include transition( 0.2s );
}

.btn-yellow {
  text-transform: uppercase;
  background: $theme-color-sub;
  color: $font-color-main;

  &:hover {
    background: $theme-color-sub-hover;
  }

  &:focus {
    background: darken( $theme-color-sub-hover, 2% );
  }

  &[disabled="disabled"] {
    opacity: 0.4;
    background: $theme-color-gray-light;

    &:hover,
    &:focus {
      background: $theme-color-gray-light;
    }
  }
}

.btn-primary {
  background: $theme-color-main;
  border-color: $theme-color-main;
  color: white;

  &:hover {
    background: darken( $theme-color-main, 2% );
    border-color: darken( $theme-color-main, 2% );
  }

  &:focus {
    background: darken( $theme-color-main, 4% );
    border-color: darken( $theme-color-main, 4% );
  }

  &[disabled="disabled"] {
    opacity: 0.4;
    background: $theme-color-gray-light;

    &:hover,
    &:focus {
      background: $theme-color-gray-light;
    }
  }
}

.btn-danger {
  background: $theme-color-danger;

  &:hover,
  &:active {
    background: darken( $theme-color-danger, 5% ) !important;
  }

  &:focus {
    background: darken( $theme-color-danger, 10% );
  }
}

.btn-success {
  background: $theme-color-success;

  &:hover,
  &:active {
    background: darken( $theme-color-success, 5% ) !important;
  }

  &:focus {
    background: darken( $theme-color-success, 10% );
  }
}
