.form-control {
  @include border-radius( 0 );
  @include box-shadow( none );

  border-color: $theme-color-main;
  padding: 0 12px;
  line-height: 32px;

  &:focus {
    @include box-shadow( none );

    border-color: darken( $theme-color-main, 2% );
  }

  &[readonly] {
    background: transparent;

    &:focus {
      border-color: $theme-color-gray-light;
    }
  }

  &.input-error {
    border-color: $theme-color-danger;
  }

  &::-webkit-input-placeholder {
    color: $theme-color-gray;
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
  }

  &::-moz-placeholder {
    color: $theme-color-gray;
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
  }

  &:-ms-input-placeholder {
    color: $theme-color-gray;
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
  }

  &:-moz-placeholder {
    color: $theme-color-gray;
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
  }
}

textarea.form-control {
  line-height: inherit;
  padding-top: 6px;
  padding-bottom: 6px;
  resize: vertical;
}
