.pagination {
  display: block;
  color: $theme-color-gray;
  font-weight: 300;
  font-size: 18px;
  text-align: center;

  li {
    display: inline-block;
    padding: 0 5px;
  }

  li.active {
    color: $theme-color-main;
    font-weight: bold;
  }

  a {
    color: $theme-color-gray;

    &:hover,
    &:focus {
      color: $theme-color-main;
      text-decoration: none;
      font-weight: bold;
    }
  }
}
