%bar {
  width: 4px;
  height: 20px;
  background: $theme-color-main;
}

.preloader {
  @extend %bar;
  @include animation( bounce-bottom 0.6s ease 0.1s infinite );

  position: absolute;
  top: calc( 50% - 10px );
  left: 50%;
  margin-left: -2px;

  &:before,
  &:after {
    @extend %bar;

    content: '';
    position: absolute;
    display: block;
    top: auto;
    bottom: 0px;
  }

  &:before {
    @include animation( bounce-bottom 0.6s ease 0s infinite );

    left: -7px;
  }

  &:after {
    @include animation( bounce-bottom 0.6s ease 0.2s infinite );

    left: 7px;
  }
}

@-webkit-keyframes bounce-bottom {
  0% {
    height: 5px;
    margin-top: 15px;
  }
  50% {
    height: 20px;
    margin-top: 0px;
  }
  100% {
    height: 5px;
    margin-top: 15px;
  }
}

@-moz-keyframes bounce-bottom {
  0% {
    height: 5px;
    margin-top: 15px;
  }
  50% {
    height: 20px;
    margin-top: 0px;
  }
  100% {
    height: 5px;
    margin-top: 15px;
  }
}

@keyframes bounce-bottom {
  0% {
    height: 5px;
    margin-top: 15px;
  }
  50% {
    height: 20px;
    margin-top: 0px;
  }
  100% {
    height: 5px;
    margin-top: 15px;
  }
}
