@font-face {
  font-family: 'typicons';
  src: url("../../components/typicons/src/font/typicons.eot");
  src: url("../../components/typicons/src/font/typicons.eot?#iefix") format('embedded-opentype'),
       url("../../components/typicons/src/font/typicons.woff") format('woff'),
       url("../../components/typicons/src/font/typicons.ttf") format('truetype'),
       url("../../components/typicons/src/font/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}
