.formError {
  width: 100px !important;
  text-align: center;

  .formErrorContent {
    @include border-radius( 0 );
    @include box-shadow( 2px 2px 4px 0 rgba( black, 0.05 ) );

    border-color: $theme-color-danger;
    background: $theme-color-danger;
  }

  .formErrorArrow {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-left: 7.5px solid transparent;
      border-right: 7.5px solid transparent;
      border-top: 7.5px solid $theme-color-danger;
    }

    &Bottom {
      &:before {
        top: auto;
        bottom: 0;
        border-top: 0;
        border-bottom: 7.5px solid $theme-color-danger;
      }
    }

    & > div {
      visibility: hidden;
    }
  }
}
