.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.btn-yellow {
  text-transform: uppercase;
  background: #af9931;
  color: #333333;
}
.btn-yellow:hover {
  background: #EFBF01;
}
.btn-yellow:focus {
  background: #e5b701;
}
.btn-yellow[disabled="disabled"] {
  opacity: 0.4;
  background: #c9c9c9;
}
.btn-yellow[disabled="disabled"]:hover, .btn-yellow[disabled="disabled"]:focus {
  background: #c9c9c9;
}

.btn-primary {
  background: #917908;
  border-color: #917908;
  color: white;
}
.btn-primary:hover {
  background: #877107;
  border-color: #877107;
}
.btn-primary:focus {
  background: #7e6907;
  border-color: #7e6907;
}
.btn-primary[disabled="disabled"] {
  opacity: 0.4;
  background: #c9c9c9;
}
.btn-primary[disabled="disabled"]:hover, .btn-primary[disabled="disabled"]:focus {
  background: #c9c9c9;
}

.btn-danger {
  background: #cf3333;
}
.btn-danger:hover, .btn-danger:active {
  background: #bc2c2c !important;
}
.btn-danger:focus {
  background: #a82727;
}

.btn-success {
  background: #2FA737;
}
.btn-success:hover, .btn-success:active {
  background: #299330 !important;
}
.btn-success:focus {
  background: #247f2a;
}

.form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #917908;
  padding: 0 12px;
  line-height: 32px;
}
.form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #877107;
}
.form-control[readonly] {
  background: transparent;
}
.form-control[readonly]:focus {
  border-color: #c9c9c9;
}
.form-control.input-error {
  border-color: #cf3333;
}
.form-control::-webkit-input-placeholder {
  color: #A3A3A3;
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
}
.form-control::-moz-placeholder {
  color: #A3A3A3;
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
}
.form-control:-ms-input-placeholder {
  color: #A3A3A3;
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
}
.form-control:-moz-placeholder {
  color: #A3A3A3;
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
}

textarea.form-control {
  line-height: inherit;
  padding-top: 6px;
  padding-bottom: 6px;
  resize: vertical;
}

.bg-primary {
  background-color: #917908 !important;
}

.alert {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  position: relative;
  border: 0;
  font-weight: 300;
}
.alert .alert-heading {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}
.alert .alert-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.1);
  text-shadow: none;
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  font-weight: 300;
  opacity: 1;
}
.alert .alert-close:hover, .alert .alert-close:focus {
  background: rgba(0, 0, 0, 0.15);
}
.alert a {
  color: rgba(175, 153, 49, 0.8);
  font-style: italic;
  font-weight: 700;
}
.alert a:hover, .alert a:focus {
  color: #af9931;
  text-decoration: underline;
  font-weight: 700;
}

.alert-danger {
  background-color: #cf3333;
  color: white;
}

.alert-success {
  background-color: #2FA737;
  color: white;
}

.alert-info {
  background-color: #f2ca0d;
  color: white;
}

#alert-respon .alert-close {
  display: none;
}
#alert-respon.alert-danger .alert-close {
  display: inline-block;
}

.pagination {
  display: block;
  color: #A3A3A3;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}
.pagination li {
  display: inline-block;
  padding: 0 5px;
}
.pagination li.active {
  color: #917908;
  font-weight: bold;
}
.pagination a {
  color: #A3A3A3;
}
.pagination a:hover, .pagination a:focus {
  color: #917908;
  text-decoration: none;
  font-weight: bold;
}

.formError {
  width: 100px !important;
  text-align: center;
}
.formError .formErrorContent {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.05);
  border-color: #cf3333;
  background: #cf3333;
}
.formError .formErrorArrow:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-top: 7.5px solid #cf3333;
}
.formError .formErrorArrowBottom:before {
  top: auto;
  bottom: 0;
  border-top: 0;
  border-bottom: 7.5px solid #cf3333;
}
.formError .formErrorArrow > div {
  visibility: hidden;
}

@font-face {
  font-family: 'typicons';
  src: url("../../components/typicons/src/font/typicons.eot");
  src: url("../../components/typicons/src/font/typicons.eot?#iefix") format("embedded-opentype"), url("../../components/typicons/src/font/typicons.woff") format("woff"), url("../../components/typicons/src/font/typicons.ttf") format("truetype"), url("../../components/typicons/src/font/typicons.svg#typicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
.breadcrumb {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  background: transparent;
  list-style: none;
  overflow: auto;
}
.breadcrumb li {
  position: relative;
  float: left;
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}
.breadcrumb li:before {
  display: none;
}
.breadcrumb li:after {
  content: '';
  position: absolute;
  top: 50%;
  left: -4px;
  width: 0;
  height: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid #c9c9c9;
}
.breadcrumb li:first-child:after {
  display: none;
}
.breadcrumb li.active {
  color: #917908;
}
.breadcrumb li.active:before {
  display: none;
}
.breadcrumb li.active:after {
  border-left-color: #917908;
}
.breadcrumb li a {
  color: #A3A3A3;
}
.breadcrumb li a:hover, .breadcrumb li a:active {
  color: #917908;
}

.preloader, .preloader:before, .preloader:after {
  width: 4px;
  height: 20px;
  background: #917908;
}

.preloader {
  -webkit-animation: bounce-bottom 0.6s ease 0.1s infinite;
  -moz-animation: bounce-bottom 0.6s ease 0.1s infinite;
  animation: bounce-bottom 0.6s ease 0.1s infinite;
  position: absolute;
  top: calc( 50% - 10px );
  left: 50%;
  margin-left: -2px;
}
.preloader:before, .preloader:after {
  content: '';
  position: absolute;
  display: block;
  top: auto;
  bottom: 0px;
}
.preloader:before {
  -webkit-animation: bounce-bottom 0.6s ease 0s infinite;
  -moz-animation: bounce-bottom 0.6s ease 0s infinite;
  animation: bounce-bottom 0.6s ease 0s infinite;
  left: -7px;
}
.preloader:after {
  -webkit-animation: bounce-bottom 0.6s ease 0.2s infinite;
  -moz-animation: bounce-bottom 0.6s ease 0.2s infinite;
  animation: bounce-bottom 0.6s ease 0.2s infinite;
  left: 7px;
}

@-webkit-keyframes bounce-bottom {
  0% {
    height: 5px;
    margin-top: 15px;
  }
  50% {
    height: 20px;
    margin-top: 0px;
  }
  100% {
    height: 5px;
    margin-top: 15px;
  }
}
@-moz-keyframes bounce-bottom {
  0% {
    height: 5px;
    margin-top: 15px;
  }
  50% {
    height: 20px;
    margin-top: 0px;
  }
  100% {
    height: 5px;
    margin-top: 15px;
  }
}
@keyframes bounce-bottom {
  0% {
    height: 5px;
    margin-top: 15px;
  }
  50% {
    height: 20px;
    margin-top: 0px;
  }
  100% {
    height: 5px;
    margin-top: 15px;
  }
}
.img-fill {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}
.img-fill img {
  opacity: 0;
}

.drop-shadow {
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.075);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.075);
}

html {
  height: 100%;
}

body {
  background: white;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-weight: 300;
}

a {
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
  color: #917908;
}
a:hover, a:focus {
  color: #302803;
}

.section-wrap {
  margin-bottom: 20px;
}
.section-wrap .heading {
  border-bottom: 1px solid #917908;
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
}
.section-wrap .heading span {
  display: inline-block;
  width: 140px;
  background-color: #917908;
  padding: 6px 18px;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  font-weight: 300;
}

.slider-wrap {
  position: relative;
  height: 410px;
  overflow: hidden;
}
.slider-wrap .slider-category {
  position: absolute;
  bottom: 50px;
  left: 40px;
  height: 35px;
  margin: 0;
  padding: 0 20px;
  background-color: #917908;
  line-height: 35px;
  color: white;
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
}
.slider-wrap .slider-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  padding-left: 60px;
  background-color: rgba(145, 121, 8, 0.6);
  line-height: 50px;
  color: white;
  font-weight: 300;
  font-size: 24px;
}

.slider .slick-arrow {
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  border: 0;
  background-color: transparent;
  font-size: 40px;
  color: #c9c9c9;
  opacity: 0.6;
}
.slider .slick-arrow.slick-next {
  top: 50%;
  left: auto;
  right: 15px;
  margin-top: -80px;
}
.slider .slick-arrow.slick-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 50%;
  left: 15px;
  margin-top: -80px;
}
.slider .slick-arrow:hover, .slider .slick-arrow:focus {
  opacity: 0.8;
}

.slider-item img {
  width: 100%;
}

.global-container > .padding-mod > .col-md-8 {
  padding-right: 5px;
}

body.full-height {
  height: 100%;
}
body.full-height > .wrapper {
  height: 100%;
}
body.full-height > .wrapper > .global-container {
  height: calc( 100% - 120px );
}

.coming-soon {
  position: relative;
  border: 0;
}
.coming-soon a {
  opacity: 0.6;
  cursor: default;
  border: 0 !important;
}
.coming-soon:before {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  content: 'Coming Soon';
  position: absolute;
  top: 70%;
  left: 50%;
  display: none;
  background: #af9931;
  margin-left: -35px;
  padding: 0 5px;
  white-space: nowrap;
  font-size: 10px;
}

.mod-fb-icon {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  top: 2px;
  display: inline-block;
  font-size: 36px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background: #3B5998;
  color: white;
  text-align: center;
  line-height: 40px;
}

.mod-fb-profile {
  text-align: center;
  overflow: auto;
}
.mod-fb-profile img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.mod-fb-profile h5 {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
}

.btn-fb {
  position: relative;
  text-transform: uppercase;
  background: #3B5998;
  color: white;
  font-weight: 500;
  width: 300px;
}
.btn-fb span.typcn {
  position: absolute;
  top: 0;
  left: 24px;
  font-size: 24px;
  line-height: 32px;
}
.btn-fb:hover {
  background: #324c82;
  color: white;
}
.btn-fb:focus {
  background: #2a3f6c;
  color: white;
}

.fb-connected {
  font-style: italic;
}
.fb-connected span.typcn {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  font-size: 16px;
  line-height: 18px;
  color: white;
  background: #3B5998;
  text-align: center;
}

.nav-disable {
  cursor: default;
  opacity: 0.6;
}
.nav-disable:hover, .nav-disable:focus {
  color: #A3A3A3 !important;
  border-color: #c9c9c9 !important;
}

.hover-off {
  opacity: 0.6 !important;
  cursor: default !important;
}
.hover-off:hover {
  opacity: 0.6 !important;
}

.master-header {
  margin-bottom: 40px;
}
.master-header--top-bar {
  height: 30px;
  background-color: #af9931;
}
.master-header--mid-bar {
  position: relative;
  height: 120px;
}
.master-header--mid-bar .row {
  height: 100%;
}
.master-header--mid-bar .right-column {
  position: relative;
  height: 100%;
}
.master-header--logo {
  display: inline-block;
  margin-top: 49px;
}
.master-header--search-form {
  margin-top: 43px;
}
.master-header--search-form .input-group {
  width: 430px;
  margin: 0 auto;
}
.master-header--user-sign {
  float: right;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  font-size: 12px;
}
.master-header--user-sign li {
  float: left;
  margin-left: 5px;
  color: #A3A3A3;
}
.master-header--user-sign li a {
  color: #A3A3A3;
}
.master-header--links {
  position: absolute;
  bottom: 10px;
  right: 15px;
  margin: 0;
  padding: 0;
}
.master-header--links li {
  float: left;
  margin-left: 30px;
  line-height: 26px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
}
.master-header--links li i.fa {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 5px;
  background: #917908;
  color: white;
  line-height: 26px;
  text-align: center;
}
.master-header--main-nav {
  background-color: #917908;
}
.master-header--main-nav ul {
  margin: 0;
  padding: 0;
}
.master-header--main-nav ul li {
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
}
.master-header--main-nav ul li a {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
  height: 40px;
  padding: 0 20px;
  color: white;
  line-height: 40px;
}
.master-header--main-nav ul li a.active, .master-header--main-nav ul li a:hover, .master-header--main-nav ul li a:focus {
  background-color: #af9931;
  text-decoration: none;
}

.master-footer {
  color: white;
}
.master-footer--top-side {
  position: relative;
  background-color: #af9931;
  padding: 120px 0;
}
.master-footer--top-side .inner {
  position: relative;
  padding-left: 300px;
}
.master-footer--footer-logo {
  position: absolute;
  top: calc( 50% - 9px );
  left: 0;
}
.master-footer--bottom-side {
  padding: 10px 0 55px;
  background-color: #917908;
}
.master-footer--bottom-side .inner h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.master-footer--bottom-side .inner ul {
  margin: 0;
}
.master-footer--bottom-side .inner ul li a {
  color: white;
  font-size: 12px;
}
.master-footer--footer-nav {
  margin-bottom: 40px;
}
.master-footer--footer-nav ul {
  margin: 0;
  padding: 0;
}
.master-footer--footer-nav ul li {
  float: left;
  position: relative;
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 12px;
}
.master-footer--footer-nav ul li:before {
  content: '|';
  position: absolute;
  right: 0;
}
.master-footer--footer-nav ul li:first-child {
  padding-left: 0;
}
.master-footer--footer-nav ul li:last-child:before {
  display: none;
}
.master-footer--footer-nav ul li a {
  color: white;
}
.master-footer--footer-newsletter h4 {
  font-size: 14px !important;
  margin-bottom: 10px !important;
}
.master-footer--footer-newsletter input {
  width: 70%;
}
.master-footer--copyright {
  background-color: #917908;
  border-top: 2px solid rgba(255, 255, 255, 0.8);
  padding: 40px 0 20px;
  font-size: 12px;
}

section[class^="sidebar-content--"] {
  margin: 0 20px 20px 20px;
}
section[class^="sidebar-content--"] h3 {
  margin: 0;
  padding: 10px 0;
  background-color: #917908;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.sidebar-content--prayer .prayer-search {
  margin: 10px 0;
}
.sidebar-content--prayer .prayer-search .form-group {
  overflow: auto;
}
.sidebar-content--prayer .prayer-search .form-group label {
  float: left;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
}
.sidebar-content--prayer .prayer-search .form-group .form-control {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  float: right;
  width: 60%;
  height: 22px;
  font-size: 12px;
  border-color: #c9c9c9;
  line-height: 24px;
}
.sidebar-content--prayer .prayer-date {
  background-color: rgba(145, 121, 8, 0.4);
  padding: 5px 20px;
  font-size: 12px;
  color: white;
}
.sidebar-content--prayer .prayer-list {
  margin: 0;
}
.sidebar-content--prayer .prayer-list li {
  position: relative;
  margin: 5px 0;
  padding: 5px 10px;
  background-color: rgba(250, 234, 158, 0.6);
  font-size: 12px;
}
.sidebar-content--prayer .prayer-list li span {
  display: inline-block;
  position: absolute;
  right: 5px;
}
.sidebar-content--doa .doa-title {
  font-weight: bold;
  font-size: 12px;
  margin: 0 0 20px;
  text-transform: uppercase;
}
.sidebar-content--doa .doa-content {
  padding: 20px;
  text-align: center;
  color: #917908;
  font-weight: 400;
  font-size: 12px;
  background: #f3edd3;
  background: -moz-linear-gradient(-45deg, #dccd83 0%, #f3edd3 50%, #dccd83 100%);
  background: -webkit-linear-gradient(-45deg, #dccd83 0%, #f3edd3 50%, #dccd83 100%);
  background: linear-gradient(135deg, #dccd83 0%, #f3edd3 50%, #dccd83 100%);
}
.sidebar-content--hadist .hadist-content {
  padding: 20px 30px;
  text-align: center;
  color: #917908;
  font-weight: 400;
  font-size: 12px;
  background: #f3edd3;
  background: -moz-linear-gradient(-45deg, #dccd83 0%, #f3edd3 50%, #dccd83 100%);
  background: -webkit-linear-gradient(-45deg, #dccd83 0%, #f3edd3 50%, #dccd83 100%);
  background: linear-gradient(135deg, #dccd83 0%, #f3edd3 50%, #dccd83 100%);
}
.sidebar-content--other-articles {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
.sidebar-content--other-articles h3 {
  margin: 0;
  margin-bottom: 20px !important;
  padding: 5px 80px;
  background-color: transparent !important;
  border: 1px solid #917908;
  font-size: 16px !important;
  font-weight: 400 !important;
  text-transform: uppercase;
  text-align: center;
  color: #917908 !important;
}
.sidebar-content--other-articles .article-wrap {
  position: relative;
  padding: 0;
  padding-left: 85px;
  height: 85px;
  border: 0;
  border-bottom: 1px solid #c9c9c9;
  margin-bottom: 10px;
}
.sidebar-content--other-articles .article-wrap .article-image {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
}
.sidebar-content--other-articles .article-wrap .list-unstyled {
  position: relative;
  top: -3px;
  margin: 0;
}
.sidebar-content--other-articles .article-wrap .article-category {
  text-transform: uppercase;
  color: #c9c9c9;
  font-size: 12px;
}
.sidebar-content--other-articles .article-wrap .article-title {
  font-weight: 400;
  font-size: 16px;
}
.sidebar-content--other-articles .article-wrap:last-child {
  border: 0;
}
.sidebar-content--ads-space {
  margin: 0 -15px 20px !important;
}
.sidebar-content--ads-space img {
  width: 100%;
}

.home-content--slider header {
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #917908;
  overflow: auto;
}
.home-content--slider header .main-date {
  float: left;
  color: #917908;
}
.home-content--slider header .greet {
  float: right;
  color: #917908;
  font-size: 16px;
}
.home-content--latest-news > .row {
  margin: 0 -10px;
}
.home-content--latest-news .article-wrap {
  margin-bottom: 0;
}
.home-content--latest-news .col-item {
  padding: 0 10px;
}
.home-content--most-viewed > .row {
  margin: 0;
}
.home-content--most-viewed .most-viewed {
  position: relative;
  padding: 0;
  padding-left: 80px;
  height: 70px;
  border: 0;
  border-bottom: 1px solid #c9c9c9;
  margin-bottom: 10px;
}
.home-content--most-viewed .most-viewed .article-image {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
}
.home-content--most-viewed .most-viewed .list-unstyled {
  position: relative;
  top: -3px;
  margin: 0;
}
.home-content--most-viewed .most-viewed .article-category {
  text-transform: uppercase;
  color: #c9c9c9;
  font-size: 12px;
}
.home-content--most-viewed .most-viewed .article-title {
  font-weight: 400;
  font-size: 14px;
}
.home-content--most-viewed .col:last-child .most-viewed,
.home-content--most-viewed .col:nth-last-child(2) .most-viewed {
  border-bottom: 0;
}
.home-content--ads-space {
  margin-bottom: -25px;
}
.home-content--ads-space img {
  width: 100%;
}
.home-content--video-section > .row {
  margin: 0 5px;
}
.home-content--video-section .video-wrap {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 185px;
  border: 1px solid #c9c9c9;
  padding: 10px;
}
.home-content--video-section .video-wrap .middle-wrap {
  position: relative;
  display: block;
}
.home-content--video-section .video-wrap .video-image {
  width: 100%;
}
.home-content--video-section .video-wrap .video-title {
  color: #917908;
  font-size: 14px;
  font-weight: 400;
}
.home-content--video-section .video-wrap .video-icon {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -30px;
  background-color: #af9931;
  width: 60px;
  height: 40px;
  opacity: 0.4;
}
.home-content--video-section .video-wrap .video-icon:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -4px;
  margin-top: -8px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 12px solid white;
}
.home-content--video-section .col-item {
  padding: 0 10px;
}
.home-content--product-section .product-wrap {
  margin-bottom: 40px;
}
.home-content--product-section .product-wrap .product-category {
  margin: 0 0 10px;
  padding: 6px 18px;
  background-color: #af9931;
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  font-size: 12px;
}
.home-content--product-section .product-wrap .middle-wrap {
  position: relative;
  height: 185px;
  line-height: 185px;
  text-align: center;
}
.home-content--product-section .product-wrap .middle-wrap img {
  display: inline-block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: calc( 100% - 10px );
}
.home-content--product-section .product-wrap .middle-wrap .product-discount {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 65px;
  height: 65px;
  background-color: #cf3333;
  color: white;
  line-height: 55px;
  font-size: 20px;
}
.home-content--product-section .product-wrap .middle-wrap .product-discount:after {
  content: 'discount';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 15px;
  text-align: center;
  font-size: 10px;
}
.home-content--product-section .product-wrap .bottom-wrap {
  overflow: auto;
}
.home-content--product-section .product-wrap .bottom-wrap .product-title {
  display: table;
  width: 100%;
  height: 40px;
  font-size: 12px;
  text-transform: uppercase;
  color: #af9931;
  padding: 0 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #af9931;
  margin-bottom: 10px;
}
.home-content--product-section .product-wrap .bottom-wrap .product-title span {
  display: table-cell;
  vertical-align: middle;
}
.home-content--product-section .product-wrap .bottom-wrap .product-price {
  float: left;
  color: #A3A3A3;
}
.home-content--product-section .product-wrap .bottom-wrap .list-unstyled {
  float: right;
}
.home-content--product-section .product-wrap .bottom-wrap .list-unstyled li {
  float: left;
  font-size: 10px;
  margin-left: 3px;
}
.home-content--product-section .product-wrap .bottom-wrap .list-unstyled li a {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
  padding: 3px 6px;
  color: white;
  text-transform: uppercase;
}
.home-content--product-section .product-wrap .bottom-wrap .list-unstyled li a.product-detail {
  background-color: #d1bd5b;
}
.home-content--product-section .product-wrap .bottom-wrap .list-unstyled li a.product-buy {
  background-color: #917908;
}
.home-content--product-section .product-wrap .bottom-wrap .list-unstyled li a:hover, .home-content--product-section .product-wrap .bottom-wrap .list-unstyled li a:focus {
  text-decoration: none;
}
.home-content--product-section .product-wrap .bottom-wrap .list-unstyled li a:hover.product-detail, .home-content--product-section .product-wrap .bottom-wrap .list-unstyled li a:focus.product-detail {
  background-color: #ccb547;
}
.home-content--product-section .product-wrap .bottom-wrap .list-unstyled li a:hover.product-buy, .home-content--product-section .product-wrap .bottom-wrap .list-unstyled li a:focus.product-buy {
  background-color: #746106;
}
.home-content--footer-banner {
  margin-bottom: 20px;
}
.home-content--footer-banner img {
  width: 100%;
}

.article-page .master-footer--top-side {
  display: none;
}

.article-wrap {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 205px;
  border: 1px solid #c9c9c9;
  padding: 10px;
  margin-bottom: 20px;
}
.article-wrap .article-image {
  width: 100%;
  margin-bottom: 10px;
}
.article-wrap .article-category {
  color: #c9c9c9;
  text-transform: uppercase;
}
.article-wrap .article-title {
  font-weight: 400;
  font-size: 16px;
}

.article-content .section-wrap {
  margin-left: 20px;
}
.article-content--sub-nav {
  position: relative;
  border-bottom: 1px solid #917908;
  margin-bottom: 20px;
}
.article-content--sub-nav .heading {
  display: inline-block;
  background-color: #917908;
  margin: 0;
  padding: 6px 18px;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  font-weight: 300;
}
.article-content--sub-nav .list-unstyled {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}
.article-content--sub-nav .list-unstyled li {
  float: left;
  padding: 6px 10px;
  line-height: 1.1;
  text-transform: uppercase;
}
.article-content--sub-nav .list-unstyled li.active {
  background-color: #af9931;
  color: white;
}
.article-content--sub-nav .list-unstyled li a {
  color: #A3A3A3;
}
.article-content--sub-nav .list-unstyled li a:hover {
  color: #917908;
  text-decoration: none;
}
.article-content--slider .slider-wrap {
  height: 340px;
}
.article-content--slider .slider .slick-arrow {
  color: white;
}
.article-content--featured-article {
  margin-left: -15px;
}
.article-content--featured-article .article-wrap {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  position: relative;
  display: block;
  height: 106.667px;
  border: 0;
  padding: 0;
  margin-bottom: 10px;
  overflow: hidden;
}
.article-content--featured-article .article-wrap .article-image {
  width: 100%;
  margin-bottom: 0;
}
.article-content--featured-article .article-wrap .article-category {
  position: absolute;
  bottom: 25px;
  left: 5px;
  height: 15px;
  padding: 0 5px;
  margin: 0;
  background-color: #af9931;
  line-height: 15px;
  color: #c9c9c9;
  text-transform: uppercase;
  font-size: 10px;
  color: white;
  overflow: hidden;
}
.article-content--featured-article .article-wrap .article-title {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0 10px;
  width: 100%;
  height: 25px;
  background-color: rgba(145, 121, 8, 0.6);
  font-weight: 300;
  font-size: 10px;
  line-height: 25px;
  color: white;
  overflow: hidden;
}
.article-content--latest-news > .row {
  margin: 0 10px;
}
.article-content--latest-news .col-item {
  padding: 0 10px;
}
.article-content--latest-news .more-button {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
  margin-top: 60px;
  font-size: 16px;
  padding: 5px 80px;
  border: 1px solid #917908;
  font-weight: 400;
}
.article-content--latest-news .more-button:hover, .article-content--latest-news .more-button:focus {
  color: #917908;
  background-color: rgba(145, 121, 8, 0.2);
  text-decoration: none;
}
.article-content--main-article {
  padding: 50px;
}
.article-content--main-article .article-category {
  margin: 0;
  margin-bottom: 10px;
  color: #A3A3A3;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
}
.article-content--main-article .article-title {
  margin: 0;
  margin-bottom: 20px;
  color: #917908;
  font-weight: 300;
  font-size: 34px;
}
.article-content--main-article .article-image {
  margin-bottom: 40px;
  width: 100%;
}
.article-content--main-article .article-content {
  font-weight: 400;
}
.article-content--main-article .article-content p {
  line-height: 1.75;
}
.article-content--main-article .article-content h3 {
  margin: 0;
  margin-top: 20px;
  color: #917908;
  font-weight: 300;
}
