html {
  height: 100%;
}

body {
  background: white;
  font-family: $font-family-main;
  color: $font-color-main;
  font-weight: 300;
}

a {
  @include transition( color 0.2s );

  color: $theme-color-main;

  &:hover,
  &:focus {
    color: darken( $theme-color-main, 20% );
  }
}
