%ruler {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 99;
    margin-left: -0.5px;
    width: 1px;
    height: 100%;
    border-right: 1px dashed red;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 99;
    margin-top: -0.5px;
    width: 100%;
    height: 1px;
    border-top: 1px dashed red;
  }
}
