.global-container {
  & > .padding-mod {
    & > .col-md-8 {
      padding-right: 5px;
    }
  }
}

body.full-height {
  height: 100%;

  & > .wrapper {
    height: 100%;

    & > .global-container {
      height: calc( 100% - 120px );
    }
  }
}

.coming-soon {
  position: relative;
  border: 0;

  a {
    opacity: 0.6;
    cursor: default;
    border: 0 !important;
  }

  &:before {
    @include border-radius( 2px );

    content: 'Coming Soon';
    position: absolute;
    top: 70%;
    left: 50%;
    display: none;
    background: $theme-color-sub;
    margin-left: -35px;
    padding: 0 5px;
    white-space: nowrap;
    font-size: 10px;
  }
}

.mod-fb-icon {
  @include border-radius( 50% );

  position: relative;
  top: 2px;
  display: inline-block;
  font-size: 36px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background: $theme-color-facebook;
  color: white;
  text-align: center;
  line-height: 40px;
}

.mod-fb-profile {
  text-align: center;
  overflow: auto;

  img {
    @include border-radius( 50% );

    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  h5 {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
  }
}

.btn-fb {
  position: relative;
  text-transform: uppercase;
  background: $theme-color-facebook;
  color: white;
  font-weight: 500;
  width: 300px;

  span.typcn {
    position: absolute;
    top: 0;
    left: 24px;
    font-size: 24px;
    line-height: 32px;
  }

  &:hover {
    background: darken( $theme-color-facebook, 6% );
    color: white;
  }

  &:focus {
    background: darken( $theme-color-facebook, 12% );
    color: white;
  }
}

.fb-connected {
  font-style: italic;

  span.typcn {
    @include border-radius( 50% );

    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 16px;
    line-height: 18px;
    color: white;
    background: $theme-color-facebook;
    text-align: center;
  }
}

.nav-disable {
  cursor: default;
  opacity: 0.6;

  &:hover,
  &:focus {
    color: $theme-color-gray !important;
    border-color: $theme-color-gray-light !important;
  }
}

.hover-off {
  opacity: 0.6 !important;
  cursor: default !important;

  &:hover {
    opacity: 0.6 !important;
  }
}

.maintenance-page {
  
}
