.section-wrap {
  margin-bottom: 20px;

  .heading {
    border-bottom: 1px solid $theme-color-main;
    margin: 0;
    margin-bottom: 20px;
    font-size: 16px;

    span {
      display: inline-block;
      width: 140px;
      background-color: $theme-color-main;
      padding: 6px 18px;
      text-transform: uppercase;
      color: white;
      font-size: 16px;
      font-weight: 300;
    }
  }
}
