.slider-wrap {
  position: relative;
  height: 410px;
  overflow: hidden;

  .slider-category {
    position: absolute;
    bottom: 50px;
    left: 40px;
    height: 35px;
    margin: 0;
    padding: 0 20px;
    background-color: $theme-color-main;
    line-height: 35px;
    color: white;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
  }

  .slider-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    margin: 0;
    padding-left: 60px;
    background-color: rgba( $theme-color-main, 0.6 );
    line-height: 50px;
    color: white;
    font-weight: 300;
    font-size: 24px;
  }
}

.slider {
  .slick-arrow {
    @include transition( opacity 0.2s );

    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    border: 0;
    background-color: transparent;
    font-size: 40px;
    color: $theme-color-gray-light;
    opacity: 0.6;

    &.slick-next {
      top: 50%;
      left: auto;
      right: 15px;
      margin-top: -80px;
    }

    &.slick-prev {
      @include transform( rotate(180deg) );

      top: 50%;
      left: 15px;
      margin-top: -80px;
    }

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}

.slider-item {
  img {
    width: 100%;
  }
}
